@media(max-width:885px){
    .logo {
        width: 20%;
    }
    .logo > img {
        width: 100%;
    }
    .main-top-wrapper, .main-bottom-wrapper {
        flex-direction: column;
    }
    .image {
        min-width: 0;
        order: 1;
    }
    .text {
        order: 2;
        text-align: center;
        margin: auto;
    }
    main {
        background-size: 400% 55%;
    }
    .main-top-wrapper > .text > .input-wrapper {
        flex-direction: column;
        padding-right: 0;
    }
    .main-top-wrapper > .text {
        margin-right: 0;
    }
    .main-top-wrapper > .text > .input-wrapper > .btn  {
        width: 95%;
        margin-top: 20px;
    }
    .main-top-wrapper >.text > h1 {
        font-size: 1.6em;
    }
    .main-top-wrapper > .text > p {
        font-size: 1.0em;
    }
    .main-bottom-wrapper >.text > h1{
        font-size: 1.0em;
    }
    .main-bottom-wrapper >.text {
        padding: 40px 0px 0px 0px;
    }
    .main-bottom-wrapper >.text > p {
        font-size: 1em;
        text-align: left;
        font-weight: normal;
        width: 100%;
    }
    #email {
        width: 95%;
    }
    .testimonial {
        margin: auto;
        margin-top: 10%;
        width: 90%;
        font-size: 0.7em;
        text-align: left;
    }
    .testimonial p {
        text-align: left;
        font-weight: normal;
    }
    .early-access {
        flex-direction: column;
    }
    .right-column, .left-column {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .left-column {
        font-size: 0.8em;
    }
    .early-access > .left-column > p {
        margin: auto;
        padding: 0 7%;
    }
    #email-early {
        margin-top: 15px;
        height: 35px;
    }
    .early-access .btn {
        margin: auto;
        width: 60%;
        margin-top: 15px;
        padding: 10px 0px;
    }
    .contact {
        display: block;
    }
    .logo-contact {
        padding-top: 30px;
    }
    .social {
        justify-content: center;
    }
    .email, .blog, .privacy {
        margin-bottom: 20px;
    }
}