body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.6em;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.0em;
}
.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;  
    min-width: 200px;
}
.navbar > a {
    text-decoration: none;
    color: hsl(238, 22%, 44%);
    font-weight: 600;
}
main {
    background-image: url(/images/bg-curve-desktop.svg) ;
    background-size: 230% 55%;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 3%;
}
.main-top-wrapper, .main-bottom-wrapper {
    display: flex;
    margin: 10% 0;
}
.main-top-wrapper {
    margin-bottom: 25%;
}
.main-top-wrapper > .text > .input-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 12%;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.main-top-wrapper > .text > .input-wrapper >  .btn {
    width: 30%;
    background: hsl(224, 93%, 58%); 
    border-radius: 5px;
    text-align: center;
    padding: 14px 0px;
    font-size: 0.9em;
    font-weight: 600;
    color: hsl(240, 75%, 98%);
    border-style: none;
}
.image {
    height: auto;
    width: 100%;
    min-width: 425px;
}
.image > img{
    width:100%;
}
.main-top-wrapper > .text {
    margin-right: 9%;
}
.main-top-wrapper > .text p {
    font-size: 1.2em;
    font-weight: 600;
}
.main-bottom-wrapper {
    align-items: flex-end; 
}
.main-bottom-wrapper > .text {
    padding-right: 4%;
    width: 90%;
}
.main-bottom-wrapper > .text > p {
    width: 80%;
    font-weight: 600;
}
.main-bottom-wrapper > .text > h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.6em;
}
#email {
    width: 60%;
    height: 35px;
    border-radius: 5px;
    border-style: ridge;
    border-color: hsl(243, 87%, 12%);
    text-indent: 20px;
}
.works-link > a {
    text-decoration: none;
    color:hsl(170, 45%, 43%);
    border-bottom: 1px solid; 
}
.works-link > a > i {
    font-size: small;
}
.testimonial {
    width: 50%;
    font-size: 0.9em; 
    background-color: white;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(209,201,209,1);
    margin-top: 5%;
    
}
.testimonial > img {
    width: 7%;
    height: auto;
}

.testimonial > p {
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}
.CEO {
    padding-bottom: 20px;
}
.CEO > p {
    line-height: 22px;
}
.CEO img {
    width: 15%;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}
.bold {
    font-weight: bold;
}

.early-access {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    padding: 3%;
    display: flex;
    align-items: center;
    padding-bottom: 10%;
}
.early-access .btn {
    width: 30%;
    background: hsl(224, 93%, 58%); 
    border-radius: 2px;
    text-align: center;
    padding: 17px 0px;
    font-size: 0.8em;
    font-weight: 600;
    color: hsl(240, 75%, 98%);
    margin-top: 2%;
    border-style: none;
}
.early-access > .left-column > p {
    margin-right: 14%;
    letter-spacing: 1px;
}
.right-column, .left-column {
    width: 50%;
} 
.left-column {
    margin-right: 10%;
}
#email-early {
    width: 60%;
    height: 45px;
    border-radius: 2px;
    text-indent: 20px;
    border-style: none;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 50px 50px 50px;
    align-items: center;
    padding: 7% 3%;
    padding-bottom: 3%;
}
.contact img {
    margin-right: 10px;
}
.logo-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.phone {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.email {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; 
}
.about {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.jobs {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.press {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
} 
.blog {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.contact-us {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.terms {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.privacy {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.social {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.contact {
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
    padding: 3%;
}
.cell {
    padding: 10px;
}
.contact > .social {
    display: flex;
    font-size: 1.3em;
}
.contact > .social > .social-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 100%;
    margin-right: 10px;
} 
.attribution {
    font-size: 11px; text-align: center; 
    background-color: hsl(243, 87%, 12%);
    padding-bottom: 3%;
    margin: 0;
    color: hsl(240, 75%, 98%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}