/* color helper */
.colors {
color: hsl(243, 87%, 12%);
color:  hsl(238, 22%, 44%);
color:  hsl(224, 93%, 58%);
color:  hsl(170, 45%, 43%);
color: hsl(240, 75%, 98%);
color: hsl(0, 0%, 75%);
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 5%;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.6em;
}
.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;  
}
.navbar > a {
    text-decoration: none;
    color: hsl(238, 22%, 44%);
}
.main-top-wrapper, .main-bottom-wrapper {
    display: flex;
}
.main-top-wrapper > .text > .input-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 12%;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.main-top-wrapper > .text > .input-wrapper >  .btn {
    width: 30%;
    background: hsl(224, 93%, 58%); 
    border-radius: 5px;
    text-align: center;
    padding: 12px 0px;
    font-size: 0.9em;
    font-weight: 600;
    color: hsl(240, 75%, 98%);
}
.image > img{
    max-width:90%;
}
.text {
    padding-right: 16%;
}
.text p {
    font-size: 1.2em;
}
#email {
    width: 60%;
    height: 35px;
    border-radius: 5px;
    border-style: ridge;
    text-indent: 20px;
}





.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%);
}